<div id="<%= dom_id score %>">
  <p>
    <strong>Title:</strong>
    <%= score.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= score.composer %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= score.pic %>
  </p>

</div>
